.artist-albums-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 700px) {
    .album-tile {
        width: 100%;
        display: flex;
    }
    
    .album-image {
        width: 70px;
        height: 70px;
        padding-bottom: 70px;
        margin-bottom: 0;
    }
    
    .album-description {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        justify-content: center;
        text-align: left;
        line-height: 18px;
    }
    
    .album-title {
        font-size: 15px;
    }
    
    .album-date {
        font-size: 13px;
        display: block;
    }
}