.genre-tiles-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 192px);
    grid-gap: 20px;
}

.genre-tile {
    min-width: 408px;
    height: 220px;
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--bg-card);
}

.genre-title {
    font-size: 40px;
    font-weight: bold;
    line-height: 42px;
    color: var(--white);
    margin: 16px;
}

.genre-tile-image {
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(25deg) translate(30px, -10px);
}

.genre-small-tile {
    min-width: 192px;
    height: 192px;
    border-radius: var(--border-radius);
    background-color: var(--bg-card);
}

.genre-subtitle {
    font-size: 24px;
    font-weight: bold;
    color: var(--white);
    margin: 16px;
}

.cards-section-genre {
    flex-wrap: nowrap;
}

@media screen and (max-width: 700px) {
    .genre-title,
    .genre-subtitle {
        font-size: 16px;
        line-height: 20px;
        margin: 10px
    }

    .genre-tile,
    .genre-small-tile {
        min-width: auto;
        height: 90px;
    }

    .genre-tiles-container {
        grid-template-columns: repeat(2, auto);
        grid-gap: 10px;
    }

    .cards-section-genre {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 10px;
    }

    .genre-tile-image  {
        width: 70px;
        height: 70px;
    }
}