.liked-container {
    margin-top: -60px;
    padding-bottom: 60px;
}

.playlist-header {
    height: 330px;
    position: relative;
    padding: 0 32px 24px;
    color: var(--white);
    display: flex;
    align-items: flex-end;
    z-index: 1;
}

.playlist-header-shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(transparent 0, rgba(0,0,0,.5) 100%);
    z-index: -1;
}

.playlist-header-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5038B4;
    z-index: -1;
}

.playlist-header-gradient-mobile {
    display: none;
}

.playlist-image {
    width: 192px;
    height: 192px;
    margin-right: 24px;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

.playlist-info-container {
    display: flex;
    flex-direction: column;
}

.playlist-type {
    font-size: 14px;
    margin-bottom: 10px;
}

.playlist-title {
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 10px;
    user-select: none;
}

.playlist-author {
    font-weight: bold;
}

.playlist-author:hover {
    text-decoration: underline;
}

.playlist-info {
    display: flex;
    font-size: 14px;
}

.playlist-track-count {
    color: var(--secondary);
}

.playlist-track-count::before {
    content: "•";
    margin: 0 2px 0 6px;
}

.play-button-big {
    width: 56px;
    height: 56px;
    margin-right: 24px;
}

.add-track-button {
    margin-right: 24px;
    font-size: 14px;
    line-height: 16px;
    color: var(--white);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.playlist-control {
    display: flex;
    padding: 24px;
    position: relative;
}

.gradient-bottom {
    position: absolute;
    width: 100%;
    height: 232px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, #121212 100%);
}

.play-mobile-button {
    display: none;
}

@media screen and (min-width: 1024px) {
    .playlist-header {
        height: 440px;
    }
}
@media screen and (max-width: 700px) {
    .playlist-title {
        font-size: 26px;
        line-height: 30px;
    }

    .playlist-header {
        height: 210px;
        justify-content: center;
    }

    .playlist-header-gradient {
        display: none;
    }

    .playlist-header-gradient-mobile {
        display: block;
    }

    .playlist-header-shadow {
        background: linear-gradient(180.25deg, rgba(0, 0, 0, 0) 0.21%, #121212 99.79%);
    }

    .play-mobile-button {
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        background-color: var(--green);
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        width: 234px;
        height: 37px;
        border-radius: 20px;
    }

    .playlist-info-container {
        align-items: center;
    }

    .gradient-bottom,
    .playlist-control,
    .playlist-info {
        display: none;
    }
}